
.sidebar {
  background-color: #2d323e; 
}
.active {
  background-color: #fff;
  color: black;
}

.sidebar-item {
  color: white;
  font-weight: 300;
}

mat-icon {
  color: white;
  margin-right: 0.5em;
}
mat-list-item.header {
  background-color: #383c48;
  height: 64px;
}
mat-list {
  padding-top: 0px !important;
}