
<div [ngSwitch]="view" class="calendar-container">
  <div class="calendar-header">
  </div>
    <div class="calendar-content">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [activeDayIsOpen]="true">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate">
      </mwl-calendar-day-view>
    </div>
</div>