:host {
  height: 100%;
  display: grid;
  grid-template-rows: 128px auto;
}
.calendar-container {
  background-color: white;
  height: 100%;
}
.filler {
  flex: 1 1 auto;
}
mat-toolbar-row {
  color: white;
  &.top {
    mat-icon {
      margin-right: 0.5em;
    }
    p {
      font-size: 24px;
    }
  }
  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
mat-toolbar {
  background: url('../../../assets/imgs/calendar_wallpaper.jpg');
  background-repeat: no-repeat;
}