<form [formGroup]="loginForm" (submit)="loginUser()" class="login-form">
  <div class="header">
    <h4>Sign in with your UTRGV Account</h4>
  </div>
  <div class="contents">
    <mat-form-field>
      <input type="email" matInput placeholder="UTRGV Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="UTRGV Password" formControlName="password">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Sign In</button>
</form>
