<div class="sidebar-header">
  <p>COLTT SCHEDULER</p>
  <button mat-icon-button>
    <mat-icon aria-label="menu toggle">menu</mat-icon>
  </button>
</div>
<div class="sidebar-content">
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>dashboard</mat-icon>
      <h4>Dashboard</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>people</mat-icon>
      <h3>Users</h3>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>calendar_today</mat-icon>
        <a routerLink="/calendar"><h3>Calendar</h3></a>
      </mat-list-item>
      <mat-list-item>
          <mat-icon matListIcon>schedule</mat-icon>
          <h3>Work Schedule</h3>
        </mat-list-item>
  </mat-list>
</div>