<mat-toolbar>
  <!-- Toolbar Icons-->
  <!--
  <button mat-icon-button routerLink="/dashboard">
    <mat-icon aria-label="Dashboard">dashboard</mat-icon>
  </button>
  <button mat-icon-button routerLink="/users">
    <mat-icon aria-label="Users">people</mat-icon>
  </button>
  <button mat-icon-button routerLink="/calendar">
    <mat-icon aria-label="Calendar">calendar_today</mat-icon>
  </button>
  <button mat-icon-button routerLink="/scheduler">
    <mat-icon aria-label="Scheulder">schedule</mat-icon>
  </button>
  -->
  <!-- filler -->
  <span class="filler"></span>
  <!-- Right side-->
  <span>User Info Here</span>
</mat-toolbar>